In [3]:
poem = '''Jony jony yes papa
Eating sugar? No papa
Open your mouth'''
print(poem)

Jony jony yes papa
Eating sugar? No papa
Open your mouth

In [10]:
fruits = ['apple','banana','orange','mango','grapes','guava','cherry',"apple","orange"]
list=['123','John','python']
print(fruits)
print(list)

['apple', 'banana', 'orange', 'mango', 'grapes', 'guava', 'cherry', 'apple', 'orange']
['123', 'John', 'python']

In [8]:
fruits

{'apple', 'banana', 'cherry', 'grapes', 'guava', 'mango', 'orange'}

In [12]:
fruits = ('apple','banana','orange','mango','grapes','guava','cherry')
print(fruits)

('apple', 'banana', 'orange', 'mango', 'grapes', 'guava', 'cherry')

In [17]:
fruits = {'apple','banana','orange','mango','grapes','guava','cherry'}
print(fruits)
type(fruits)

{'guava', 'grapes', 'orange', 'banana', 'apple', 'mango', 'cherry'}

set

In [14]:
student = {"Name":"Geershati",
           "age":22,
           "course":"BCA",
           "collage":"BBDU"
        }
print(student)

{'Name': 'Geershati', 'age': 22, 'course': 'BCA', 'collage': 'BBDU'}

In [16]:
#to check the data type
type(student)

dict

# Type casting

In [2]:
a= input("Enter a number :")
b = int(a)
print(a)
type(a)

67

str

In [3]:
type(b)

int

In [5]:
a = int(input("Enter a number :"))
print (a)
type(a)

123

int