In [10]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

- creaate_engine: it is used to make connection from database
- column: it defines columns in the database
- Integer and String: datatype of values in database

In [11]:
engine = create_engine('sqlite:///user.db')

In [12]:
Base = declarative_base()

In [13]:
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    password = Column(String)

In [14]:
Base.metadata.create_all(engine)

In [15]:
Session= sessionmaker(bind=engine) #this line tells the sessionmaker to use the engine we created
session= Session() #this line creates a new session object

In [17]:
# add a new user to the database
new_user = User(name='John Doe', password='password123')
session.add(new_user)
session.commit()# this line commits the change to the database

In [22]:
# add a new user to the database
new_user = User(name='Smith Joe', password='smith123')
session.add(new_user)
session.commit()# this line commits the change to the database

In [23]:
#read all user from the database
users =session.query(User).all() 
for user in users:
    print(f'ID:{user.id}, Name:{user.name}, Password:{user.password}')

ID:1, Name:John Smith, Password:password123
ID:2, Name:Smith Joe, Password:smith123
ID:3, Name:Smith Joe, Password:smith123

In [20]:
#update a user in the database
user= session.query(User).filter_by(name='John Doe').first()# first() returns the first result of the query
user.name ='John Smith' #update the name of the user
session.commit()

In [24]:
users =session.query(User).all() 
for user in users:
    print(f'ID:{user.id}, Name:{user.name}, Password:{user.password}')

ID:1, Name:John Smith, Password:password123
ID:2, Name:Smith Joe, Password:smith123
ID:3, Name:Smith Joe, Password:smith123

In [25]:
# delete a user from the database
user=session.query(User).filter_by(id=2).first()
session.delete(user)
session.commit()# first() returns the first result of the query

In [26]:
users =session.query(User).all() 
for user in users:
    print(f'ID:{user.id}, Name:{user.name}, Password:{user.password}')

ID:1, Name:John Smith, Password:password123
ID:3, Name:Smith Joe, Password:smith123