# Iris dataset notebook

In [2]:
import seaborn as sns
import pandas as pd

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [4]:
df = sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [10]:
df.columns.tolist()

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [11]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [12]:
df.shape

(150, 5)

In [13]:
df.iloc[5]

sepal_length       5.4
sepal_width        3.9
petal_length       1.7
petal_width        0.4
species         setosa
Name: 5, dtype: object

In [14]:
df.iloc[1:6]

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [15]:
df.iloc[1:20:2]

    sepal_length  sepal_width  petal_length  petal_width species
1            4.9          3.0           1.4          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
7            5.0          3.4           1.5          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
11           4.8          3.4           1.6          0.2  setosa
13           4.3          3.0           1.1          0.1  setosa
15           5.7          4.4           1.5          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa

In [18]:
df.loc[3:2]

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [20]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [21]:
df.rename(columns={"species": "Flower_species"}, inplace=True)
df.head()

   sepal_length  sepal_width  petal_length  petal_width Flower_species
0           5.1          3.5           1.4          0.2         setosa
1           4.9          3.0           1.4          0.2         setosa
2           4.7          3.2           1.3          0.2         setosa
3           4.6          3.1           1.5          0.2         setosa
4           5.0          3.6           1.4          0.2         setosa

In [24]:
df['Plen_sqr'] = df['petal_length']**2
df.head()

,sepal_length,sepal_width,petal_length,petal_width,Flower_species,Length,Plen_sqr
0,5.1,3.5,1.4,0.2,setosa,1.96,1.96
1,4.9,3.0,1.4,0.2,setosa,1.96,1.96
2,4.7,3.2,1.3,0.2,setosa,1.69,1.69
3,4.6,3.1,1.5,0.2,setosa,2.25,2.25
4,5.0,3.6,1.4,0.2,setosa,1.96,1.96

In [25]:
df.tail()

,sepal_length,sepal_width,petal_length,petal_width,Flower_species,Length,Plen_sqr
145,6.7,3.0,5.2,2.3,virginica,27.04,27.04
146,6.3,2.5,5.0,1.9,virginica,25.00,25.00
147,6.5,3.0,5.2,2.0,virginica,27.04,27.04
148,6.2,3.4,5.4,2.3,virginica,29.16,29.16
149,5.9,3.0,5.1,1.8,virginica,26.01,26.01

In [26]:
cols_to_drop =['Length']
df = df.drop(columns=cols_to_drop)
df.head()

,sepal_length,sepal_width,petal_length,petal_width,Flower_species,Plen_sqr
0,5.1,3.5,1.4,0.2,setosa,1.96
1,4.9,3.0,1.4,0.2,setosa,1.96
2,4.7,3.2,1.3,0.2,setosa,1.69
3,4.6,3.1,1.5,0.2,setosa,2.25
4,5.0,3.6,1.4,0.2,setosa,1.96

In [28]:
df.isnull().sum()

sepal_length      0
sepal_width       0
petal_length      0
petal_width       0
Flower_species    0
Plen_sqr          0
dtype: int64

In [29]:
avg_sepal_lenght = df['sepal_length'].mean()
print(avg_sepal_lenght)

5.843333333333334

In [31]:
avg_sepal_lenght = round(df['sepal_length'].mean())
print(avg_sepal_lenght)

6

In [35]:
df['Flower_species'].value_counts()

Flower_species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [33]:
df['Flower_species'].value_counts().idxmax()

'setosa'

In [34]:
df['Flower_species'].value_counts().idxmin()

'setosa'