# talewind css

- ways to declare dictionary
- to access  key and values in dictionary
- to add new pair in dictionary
- loops in dictionay
- nested dictionary

In [1]:
student ={'name' :'Piyush Agrawal','age':23,
          'class':input('enter course'),
          'marks': 90}
print(student)

{'name': 'Piyush Agrawal', 'age': 23, 'class': 'bca', 'marks': 90}

In [47]:
temp ={
    'Lucknow': [32,28,40],
    'Delhi': [45,35,29],
    'Chennai':[30,25,36]
}
print(temp)

{'Lucknow': [32, 28, 40], 'Delhi': [45, 35, 29], 'Chennai': [30, 25, 36]}

In [48]:
info =dict(name='Piyush Agrawal',age= 22, course='python',marks =90)
print(info)

{'name': 'Piyush Agrawal', 'age': 22, 'course': 'python', 'marks': 90}

In [49]:
info2 =dict(name=input('Enter your name'),age= 22, course='python',marks =90)
print(info2)

{'name': 'piyushhagrawal', 'age': 22, 'course': 'python', 'marks': 90}

In [50]:
#1st method to access value using its key
print(info['name'])

Piyush Agrawal

In [51]:
#2nd method to access value using its key
print(info.get('age'))

22

In [52]:
#to add anew pair in the dictionary
student ['city']='lucknow'
print(student)

{'name': 'Piyush Agrawal', 'age': 23, 'class': 'piyush agrawal', 'marks': 90, 'city': 'lucknow'}

In [2]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'class', 'marks'])
dict_values(['Piyush Agrawal', 23, 'bca', 90])
dict_items([('name', 'Piyush Agrawal'), ('age', 23), ('class', 'bca'), ('marks', 90)])

In [54]:
for k in student:
    print(k)

name
age
class
marks
city

In [55]:
for k,v in student.items():
    print(k,v)
    print(f'{k} : {v}')

name Piyush Agrawal
name : Piyush Agrawal
age 23
age : 23
class piyush agrawal
class : piyush agrawal
marks 90
marks : 90
city lucknow
city : lucknow

In [56]:
a =10
b= 30
add= a+b
print("sum is",add)
print(f'sum of {a} and {b} is {add}')

sum is 40
sum of 10 and 30 is 40

In [57]:
company ={'emp001':{
    'name': 'Piyush',
    'salary': 35000,
    'city': 'Lucknow'
},
'emp002':{
    'name': 'Sachin',
    'salary': 25000,
    'city': 'orai'},
'emp003':{
    'name':'Geershati',
    'salary':30000,
    'city':'Lucknow'
       }
}
print(company)

{'emp001': {'name': 'Piyush', 'salary': 35000, 'city': 'Lucknow'}, 'emp002': {'name': 'Sachin', 'salary': 25000, 'city': 'orai'}, 'emp003': {'name': 'Geershati', 'salary': 30000, 'city': 'Lucknow'}}

In [58]:
from pprint import pprint

In [59]:
pprint(company)

{'emp001': {'city': 'Lucknow', 'name': 'Piyush', 'salary': 35000},
 'emp002': {'city': 'orai', 'name': 'Sachin', 'salary': 25000},
 'emp003': {'city': 'Lucknow', 'name': 'Geershati', 'salary': 30000}}

In [60]:
print(company['emp002']['name'])

Sachin

In [61]:
print(temp['Lucknow'][1])

28

In [63]:
print('Average temp od Delhi :',sum(temp['Delhi'])/len(temp['Delhi']))

Average temp od Delhi : 36.333333333333336